<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.plocki.alert">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_icon"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activities.Location"></activity>
        <activity android:name=".activities.ConnectionError" />

        <receiver
                android:name=".utils.ConnectivityReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.Filter" />
        <activity android:name=".fragments.FragmentProfile" />
        <activity android:name=".activities.LoginPanel" />
        <activity android:name=".activities.Details" />
        <activity android:name=".activities.LocationPicker" />
        <activity android:name=".activities.Add" />

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyCT_JX0Z_bQdEiDE9XmWrvCxTu43QhfdsI" />
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>